In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer, TfidfTransformer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity, cosine_distances
from sklearn.neighbors import NearestNeighbors
from collections import Counter

In [2]:
wiki = pd.read_csv('people_wiki.csv')
wiki.head()

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...

In [3]:
# counter = Counter()
# wiki['word_count'] = [dict(Counter(x)) for x in wiki['text'].str.split()]

In [4]:
cv = CountVectorizer()
f = cv.fit_transform(wiki.text)
features_count = f.sum(axis=0).tolist()[0]
features_names = cv.get_feature_names()
features = pd.DataFrame(list(zip(features_names, features_count)), 
                                columns=['features', 'count']
                               ).sort_values(by=['count'], ascending=False)

In [5]:
cv_ej = CountVectorizer()
ej = cv_ej.fit_transform(wiki.loc[wiki.name=='Elton John', 'text'])
features_count = ej.sum(axis=0).tolist()[0]
features_names = cv_ej.get_feature_names()
features = pd.DataFrame(list(zip(features_names, features_count)), 
                                columns=['features', 'count']
                               ).sort_values(by=['count'], ascending=False)
features

         features  count
227           the     27
135            in     18
42            and     15
176            of     13
118           has      9
121            he      7
146          john      7
177            on      6
209         since      5
106           for      5
50          award      5
234           top      4
144            is      4
48             at      4
231            to      4
59      billboard      4
126           his      4
90          elton      3
63        british      3
165       million      3
178           one      3
33        academy      3
55           been      3
51         awards      3
1             100      3
173            no      3
169         music      3
166          more      3
41             an      3
125           him      3
..            ...    ...
138      inducted      1
139      inductee      1
105    fivedecade      1
103         first      1
74       composer      1
102          film      1
75      composers      1
76        concert      1
78      continues      1
79   contribution      1
80         copies      1
81        culture      1
82         datein      1
83          david      1
85        diamond      1
86          diana      1
87         disney      1
88         dwight      1
89      elizabeth      1
91         empire      1
92        england      1
93        english      1
94        entered      1
95            era      1
96    established      1
97         events      1
99         fellow      1
100         fifty      1
101         fight      1
251           you      1

[252 rows x 2 columns]

In [6]:
tf = TfidfVectorizer(stop_words='english', smooth_idf=True, use_idf=True)
tfidf_matrix  = tf.fit_transform(wiki.text)
feature_names = tf.get_feature_names()

In [7]:
doc = wiki.loc[wiki.name=='Elton John'].index.values[0]
feature_index = tfidf_matrix[doc,:].nonzero()[1]
tfidf_scores = zip(feature_index, [tfidf_matrix[doc, x] for x in feature_index])
d = {}
for w, s in [(feature_names[i], s) for (i, s) in tfidf_scores]:
    d[w] = [s]
df = pd.DataFrame.from_dict(d, orient='index', columns=['tfidf'])
df.sort_values(by='tfidf', ascending=False)

                   tfidf
billboard       0.220815
john            0.217082
elton           0.212174
furnish         0.208194
songwriters     0.137278
award           0.136446
aids            0.127077
million         0.124955
100             0.123607
palace          0.122427
overallelton    0.117085
tonightcandle   0.117085
bestselling     0.115970
roll            0.115695
fivedecade      0.112881
19702000        0.112881
gay             0.110755
taupin          0.107585
marriage        0.106048
hot             0.105686
academy         0.104353
awards          0.102136
british         0.100707
highestprofile  0.100399
ranked          0.099949
consecutive     0.098933
songwriter      0.096915
brits           0.096911
datein          0.094305
worldwide       0.093388
...                  ...
artist          0.035578
winning         0.035417
center          0.035020
late            0.034982
fellow          0.034875
10              0.034374
1992            0.033990
english         0.033584
1994            0.033564
2014            0.033252
record          0.032686
1996            0.032510
1998            0.031815
film            0.031445
named           0.031413
march           0.030660
2013            0.030631
2002            0.029810
began           0.028276
2005            0.027397
worked          0.026478
2008            0.026016
later           0.025187
world           0.024577
year            0.024284
time            0.024108
career          0.023897
including       0.023091
years           0.021515
born            0.013148

[198 rows x 1 columns]

In [8]:
print(cosine_similarity(tfidf_matrix[wiki.loc[wiki.name=='Elton John'].index.values[0],:], tfidf_matrix[wiki.loc[wiki.name=='Victoria Beckham'].index.values[0],:]).flatten())
print(cosine_similarity(tfidf_matrix[wiki.loc[wiki.name=='Elton John'].index.values[0],:], tfidf_matrix[wiki.loc[wiki.name=='Paul McCartney'].index.values[0],:]).flatten())

[0.03407023]
[0.18991373]

In [9]:
print(cosine_distances(tfidf_matrix[wiki.loc[wiki.name=='Elton John'].index.values[0],:], tfidf_matrix[wiki.loc[wiki.name=='Victoria Beckham'].index.values[0],:]).flatten())
print(cosine_distances(tfidf_matrix[wiki.loc[wiki.name=='Elton John'].index.values[0],:], tfidf_matrix[wiki.loc[wiki.name=='Paul McCartney'].index.values[0],:]).flatten())

[0.96592977]
[0.81008627]

In [10]:
def get_closest_neighs(name, matrix):
    model = NearestNeighbors(n_neighbors=5, metric='cosine').fit(matrix)
    row = wiki.loc[wiki.name==name].index.values[0]
    distances, indices = model.kneighbors(matrix.getrow(row))
    names_similar = pd.Series(indices.flatten()).map(wiki.reset_index()['name'])
    result = pd.DataFrame({'distance':distances.flatten(), 'name':names_similar})
    return result

In [11]:
print(get_closest_neighs('Elton John', f))
print(get_closest_neighs('Elton John', tfidf_matrix))

       distance            name
0  2.442491e-15      Elton John
1  1.687792e-01   Cliff Richard
2  1.718410e-01  Sandro Petrone
3  1.744907e-01     Rod Stewart
4  1.840130e-01   Roger Daltrey
   distance              name
0  0.000000        Elton John
1  0.704178       Rod Stewart
2  0.715818  Sting (musician)
3  0.724673    George Michael
4  0.724830      Phil Collins

In [12]:
print(get_closest_neighs('Victoria Beckham', f))
print(get_closest_neighs('Victoria Beckham', tfidf_matrix))

       distance                      name
0  3.330669e-16          Victoria Beckham
1  2.115428e-01  Mary Fitzgerald (artist)
2  2.185431e-01            Adrienne Corri
3  2.218932e-01          Beverly Jane Fry
4  2.224486e-01             Raman Mundair
   distance                 name
0  0.000000     Victoria Beckham
1  0.575420        David Beckham
2  0.799198  Stephen Dow Beckham
3  0.812301        Caroline Rush
4  0.814231  Angelique Westerhof